<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/about" class="navbar-link {% if active_page == 'about' %}active{% endif %}" data-nav-link>About</a>
    </li>

    <li class="navbar-item">
      <a href="/resume" class="navbar-link {% if active_page == 'resume' %}active{% endif %}" data-nav-link>Resume</a>
    </li>

    <li class="navbar-item">
      <a href="/projects" class="navbar-link {% if active_page == 'projects' %}active{% endif %}" data-nav-link>Projects</a>
    </li>

    <li class="navbar-item">
      <a href="/contact" class="navbar-link {% if active_page == 'contact' %}active{% endif %}" data-nav-link>Contact</a>
    </li>

    <li class="navbar-item">
      <a href="/eidi" class="navbar-link {% if active_page == 'eidi' %}active{% endif %}" data-nav-link>$$$</a>
    </li>
  </ul>
</nav>