<section class="tech-stack">

          <h3 class="h3 tech-stack">Tech Stack</h3>

          <!-- Languages -->
          <h4 class="h4 tech-stack-category-title">Languages</h4>
          <div class="tech-stack-grid">
            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/python.png" alt="Python icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Python</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/java-coffee-cup-logo.png" alt="Java icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">JAVA</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/html-5.png" alt="HTML icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">HTML</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/css3.png" alt="CSS icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">CSS</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/javascript.png" alt="JavaScript icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">JavaScript</h4>
              </div>
            </div>
          </div>

          <!-- Databases -->
          <h4 class="h4 tech-stack-category-title">Databases</h4>
          <div class="tech-stack-grid">
            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">MongoDB</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/sql.png" alt="SQL icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">SQL</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/sqlite.png" alt="SQLite icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">SQLite</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/color/48/000000/postgreesql.png" alt="PostgreSQL icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">PostgreSQL</h4>
              </div>
            </div>
          </div>

          <!-- Tools & Frameworks -->
          <h4 class="h4 tech-stack-category-title">Tools & Frameworks</h4>
          <div class="tech-stack-grid">
            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/flask.png" alt="Flask icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Flask</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/bootstrap.png" alt="Bootstrap icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Bootstrap</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/color/48/000000/nodejs.png" alt="Node.js icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Node.js</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/code.png" alt="Express.js icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Express.js</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/api.png" alt="REST API icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">REST API</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/ios/452/docker.png" alt="Docker icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">Docker</h4>
              </div>
            </div>

            <div class="tech-stack-item">
              <div class="tech-stack-icon-box">
                <img src="https://img.icons8.com/color/48/000000/amazon-web-services.png" alt="AWS icon" width="40">
              </div>
              <div class="tech-stack-content-box">
                <h4 class="h4 tech-stack-item-title">AWS</h4>
              </div>
            </div>
          </div>



        </section>