<!--
          - testimonials
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Gossips</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <a href="https://www.linkedin.com/in/syed-anas-1aa11a1ab/" target="_blank" class="testimonials-link" data-testimonials-link>
                    <img src="{{ url_for('static', filename='images/avatar-1.png') }}" alt="Anas" width="60" data-testimonials-avatar>
                  </a>
                </figure>


                <h4 class="h4 testimonials-item-title" data-testimonials-title>Anas</h4>
                <br>
                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    “Munawar was instrumental in the success of many ACM’s initiatives, especially through his active involvement in hackathons, organizing workshops and technical events. His creativity and hands-on contribution ensured smooth execution and impactful outcomes. His dedication and collaborative spirit made him an invaluable part of the team.”
                    <br>
                    — ACM Chairperson
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <a href="https://www.linkedin.com/in/poorvi-reddy-b6b092296/" target="_blank" class="testimonials-link" data-testimonials-link>
            <img src="{{ url_for('static', filename='images/avatar-2.png') }}" alt="Anas" width="60" data-testimonials-avatar>
                  </a>
                </figure>


                <h4 class="h4 testimonials-item-title" data-testimonials-title>Poorvi</h4>
                <br>
                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    "As Tech Lead of ACM MJCET, Munawar has consistently demonstrated outstanding technical skills and leadership. Their dedication, problem-solving ability, and support for the team have been key to the success of many chapter initiatives. A true asset to ACM."
                    <br>
                    - ACM Vice Chairperson                   <br>
                  </p>
                </div>

              </div>
            </li>


            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <a href="https://www.linkedin.com/in/mudassiruddin21/" target="_blank" class="testimonials-link" data-testimonials-link>
            <img src="{{ url_for('static', filename='images/avatar-1.png') }}" alt="Anas" width="60" data-testimonials-avatar>
                  </a>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Mudasir</h4>
                <br>
                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    “Working with Munawar during hackathons was always inspiring. His enthusiasm for tech and problem-solving made every challenge feel exciting. We’ve learned a lot together, shared ideas, and pushed each other to grow — he's a great teammate and an even better friend.”
                    <br>
                    — Mudasir Uddin
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <a href="https://www.linkedin.com/in/mussadiq-najeed-0a332329b/" target="_blank" class="testimonials-link" data-testimonials-link>
            <img src="{{ url_for('static', filename='images/avatar-1.png') }}" alt="Anas" width="60" data-testimonials-avatar>
                  </a>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Mussadiq</h4>
                <br>
                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    "I've had the pleasure of knowing Munawar for a while now, and I can confidently say he's one of the most genuine and hardworking individuals I’ve come across. He has a natural ability to grasp new concepts quickly and put them into action, which makes him stand out in any setting. What truly sets him apart is his constant drive to learn and grow, he’s always exploring new ideas, taking on challenges, and pushing himself to do better. His dedication, curiosity, and positive attitude make him an asset in any environment. I have no doubt he’ll go far, and anyone would be lucky to work with him."                    <br>
                    — Mussadiq Najeed
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>

<!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>
              <br>
              <time datetime="2025-04-25">25 April, 2025</time>

              <div data-modal-text>
                <p></p>
              </div>

            </div>

          </section>

        </div>
